@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

svg {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

button,
input,
textarea {
  font-size: inherit;
  font-family: inherit;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: 'Martian Mono', monospace;
  font-weight: 400;
  font-size: 16px;
}

.app {
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
}