.button {
  background-color: #5b52c5;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.SECONDARY {
  background-color: #fff;
  color: #5b52c5;
  border: 2px solid #5b52c5;
}

.BIG {
  padding: 10px 14px;
  font-size: 20px;
}

.SMALL {
  padding: 4px 8px;
  font-size: 12px;
}